.profile__add-photo {
  border: 1px #FFF solid;
  padding: 14px 64px;
  width: 22px;
  transition: opacity .3s linear;
  cursor: pointer;
}

.profile__add-photo:hover {
  opacity: .6
}

@media screen and (max-width:600px) {
  .profile__add-photo {
    padding: 17px calc((100% - 18px)/2);
    width: 16px;
    margin-top: 36px;
  }
}
