@keyframes closing {
  from {
    opacity: 1;
    visibility:visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.popup_closed {
  visibility: hidden;
  animation: closing .3s linear;
  }

