.element {
  list-style-type: none;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  box-sizing: border-box;
  aspect-ratio: 282/361;
 }
